body{
    margin: 0 auto;
    text-align: center;
}

.content {
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    background-image: url("./assets/chander-r-z4WH11FMfIQ-unsplash.jpg");
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;

   
    
}

.submit{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    border: 10px white;
    background-color: rgb(82, 82, 143);
    color: white;

}

h3 {
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.airReport {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#myProgress {
    margin: 0 auto;
    margin-top: 5%;
    width: 30%;
    background-color: grey;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: lightblue;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

  .about{

    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    background-image: linear-gradient(white, lightblue);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;

  }
